@model IEnumerable<UserTripViewModel>

@{
    Layout = "UserLayout";
    ViewData["Title"] = "Viajes";
}

<div class="main">
    <form method="post">
        <h1>Viajes actuales</h1>
        <input hidden="hidden" id="trip" name="tripId">
        <input hidden="hidden" id="op" name="action">
        <table>
            <tr>
                <th>
                    Usuario
                </th>
                <th>
                    Fecha de viaje
                </th>
                <th>
                    Estado
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr id="@item.ID">
                    <td>
                        @item.Owner
                    </td>
                    <td>
                        @item.Identifier
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        <button class="button" type="submit" onclick="setValues(this, '0');"><span>Aprobar</span></button>
                    </td>
                    <td>
                        <button class="button" type="submit" onclick="setValues(this, '1');"><span>Rechazar</span></button>
                    </td>
                    <td>
                        <button class="button" type="submit" onclick="setValues(this, '2');"><span>Cancelar</span></button>
                    </td>
                    <td>
                        <a href="/Admin/Viaje?id=@item.ID" class="button"><span>Detalles</span></a>
                    </td>
                </tr>
            }
        </table>
    </form>
</div>

<script>
    function setValues(caller, option) {
        getRowId(caller, 'trip');
        document.getElementById('op').value = option;
    }
</script>

