<dialog id="rzn">
    <div class="header">
        <h3>Razon de rechazo</h3>
    </div>
    <div class="body">

        <input type="text" id="msg" class="form-control"/><br />
        <button onclick="closeDialog()" type="submit" class="button"><span>Enviar</span></button>
        <button onclick="closeDialog()" type="button" class="button"><span>Cerrar</span></button>
    </div>
</dialog> 
<input hidden="hidden" id="mot" name="motivo">