@using TripManager2._0.ViewModels
@model UserViewModel

<div><a asp-action="Edit" asp-controller="Account" asp-route-email="@Model.Email">Edit Account</a></div>
<div><a asp-action="Edit" asp-controller="Account" asp-route-email="@Model.Email">Start a new trip</a></div>
<div><a asp-action="Edit" asp-controller="Account" asp-route-email="@Model.Email">trip's status</a></div>