@using BizData.Entities
@model IEnumerable<Viaje>

<table border="0">
    <tr>
        
        <th>
            Inicio
        </th>
        <th>
            Fin
        </th>
        <th>
            Usuario
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @Html.Partial("Viaje", item)
        </tr>

    }

</table>
