@using BizData.Entities
@model IEnumerable<Pasaporte>

<table border="0">

    <caption><h3>Pasaportes</h3></caption>
    <tr>
        <th>
            ID
        </th>
        <th>
            Creacion
        </th>
        <th>
            Vencimiento
        </th>
        <th>
            Usuario
        </th>
        <th>Apellido</th>
        <th>
            E-mail
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @Html.Partial("Pasaporte", item)
        </tr>

    }

</table>
