@using BizData.Entities
@model ICollection<Viaje>

<table border="0">

    <caption><h3>Pasaportes</h3></caption>
    <th>
        ID
    </th>
    <th>
        Inicio  
    </th>
    <th>
        Fin
    </th>
    <th>
        Usuario
    </th>
    @foreach (var item in Model)
    {
        <tr>
            @Html.Partial("Viaje", item)
        </tr>

    }

</table>
