@using BizData.Entities
@model IEnumerable<Visa>

<table border="0">
    <tr>
        <th>
            ID
        </th>
        <th>
            Nombre
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @Html.Partial("Visa", item)
        </tr>

    }

</table>
