@using BizData.Entities
@model IEnumerable<Pais>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <table>
        <tr>
        <th>
            ID
        </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @Html.Partial("Pais", item)
            </tr>

        }
        </table>
</body>
</html>