@using BizData.Entities
@using BizLogic.Shared
@model IEnumerable<Pais>
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <table>
        <tr>
            <th>
                ID
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @Html.Partial("Pais", item)
                <td>
                    <button type="submit" name="id" value=@item.PaisID> Eliminar</button>
                </td>
            </tr>

        }
        <tr>
            <td>
                @Html.ActionLink("Agregar", "AddPais", "User", new NameOnlyViewModel())
            </td>
            
        </tr>
    </table>
</body>
</html>