@using BizData.Entities
@using BizLogic.Shared
@model IEnumerable<Region>

@{
    Layout = "UserLayout";
    ViewData["Title"] = "Pais";
}
<div class="main">

    <h1>Region</h1>
    <table border="0">
        <tr>

            <th>
                Nombre
            </th>

            <th>
            </th>
        </tr>
        @foreach (var item in Model)
            {
            <tr>
                @Html.Partial("Region", item)
                <td>
                    <a href="/Admin/UpdateRegion" class="button"><span>Update</span></a>
                </td>
            </tr>

        }
        <tr>
            <td>
                @Html.ActionLink("Agregar", "AddRegion", "Admin", new NameOnlyViewModel())
            </td>
            <td></td>
        </tr>
    </table>

</div>