@using BizData.Entities
@using BizLogic.Shared
@model IEnumerable<Institucion>

<table border="0">
    <tr>

        <th>
            Nombre
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @Html.Partial("Institucion", item)
            <td>
                <button type="submit" name="id" value=@item.InstitucionID> Eliminar</button>
            </td>
        </tr>

    }
    <tr>
        <td>
            @Html.ActionLink("Agregar", "AddCiudad", "User", new NameOnlyViewModel())
        </td>
    </tr>

</table>
