@using BizData.Entities
@using BizLogic.Authentication
@using BizLogic.Administration
@model PendingUsersViewModel;

@{ 
    Layout = "UserLayout";
    ViewData["Title"] = "Usuarios Pendientes";
}

<div class="main">
    <section>
        <form method="post">
            <div>
                <h1>Usuarios Pendientes</h1>
                <table id="myTable">
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Apellido
                        </th>
                        <th>
                            Correo
                        </th>

                        <th>

                        </th>
                    </tr>
                    @foreach (var item in Model.Usuarios)
                    {
                        <tr>
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @item.FirstLastName
                            </td>
                            <td>
                                @item.UserName
                            </td>

                            <td>
                                <button class="button" type="submit" value="@item.Id" name="userID">   <span>Autorizar</span> </button>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </form>
    </section>
</div>

@section Scripts{ 
    <script>
        check_tables(['Todos los usuarios han sido registrados previamente'])
    </script>
}