<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - TripManager2._0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/favicon.ico">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand">TripManager2._0</a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <form>
                        <ul class="navbar-nav ">
                            <li>
                                <a class="nav-link text-dark" title="Manage">Hola @User.Identity.Name</a>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-link navbar-btn navbar-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout" formmethod="post">Log out</button>
                            </li>
                        </ul>
                    </form>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="FirstPage">Inicio</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="sidenav">
        <div class="header-sidenav">
            <p><i class="fa fa-user-o"></i> Acciones :</p>
        </div>

        <a asp-action="Edit" asp-controller="Account"><i class="fa fa-angle-right"></i> Editar perfil</a>
        @if (User.Claims.Where(x => x.Type == "Institucion").Count() != 0)
        {
            <button class="dropdown-btn">
                <i class="fa fa-angle-double-right"></i>
                Viajes
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a asp-action="Create" asp-controller="User"><i class="fa fa-angle-right"></i> Nuevo viaje</a>
                <a asp-action="ViewTrips" asp-controller="User"><i class="fa fa-angle-right"></i> Viajes actuales</a>
            </div>            
        }

        @if (!User.HasClaim("Institucion", "Trabajador") && User.Claims.Where(x => x.Type == "Institucion").Count() != 0)
        {
            <button class="dropdown-btn">
                <i class="fa fa-angle-double-right"></i>
                Solicitudes Pendientes
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a asp-controller="Editor" asp-action="AuthorizeTrip"><i class="fa fa-angle-right"></i> Autorizacion de viaje</a>
                @if (User.HasClaim("Passport", "True"))
                {
                    <a asp-controller="Editor" asp-action="AuthorizePassport"><i class="fa fa-angle-right"></i> Entregar passaporte</a>
                }
                @if (User.HasClaim("Visa", "True"))
                {
                    <a asp-controller="Editor" asp-action="GiveVisa"><i class="fa fa-angle-right"></i> Otorgar visas</a>
                    <a asp-controller="Editor" asp-action="CreateVisa"><i class="fa fa-angle-right"></i> Crear visas</a>
                }
            </div>
        }
        @if (User.HasClaim("Permission", "Admin"))
        {
            <button class="dropdown-btn">
                <i class="fa fa-angle-double-right"></i>
                Acciones
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a asp-controller="Admin" asp-action="EditPais"><i class="fa fa-angle-right"></i> Pais</a>
                <a asp-controller="Admin" asp-action="EditRegion"><i class="fa fa-angle-right"></i> Region</a>
                <a asp-controller="Admin" asp-action="EditCiudad"><i class="fa fa-angle-right"></i> Ciudad</a>
                <a asp-controller="Admin" asp-action="EditInstitucion"><i class="fa fa-angle-right"></i> Institucion</a>
                <a asp-controller="Admin" asp-action="EditUsuario"><i class="fa fa-angle-right"></i> Usuarios</a>
                <a asp-controller="Admin" asp-action="PendingUsers"><i class="fa fa-angle-right"></i> Usuarios Pendientes</a>
            </div>
        }


    </div>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - TripManager2._0
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
