@model ViajeViewModel

@{
    Layout = "UserLayout";
    ViewData["Title"] = "Nuevo Viaje";
    string current = DateTime.Now.ToString();
}


<div class="main">
    <CENTER>
        <form method="post">
            <div>
                <h1>Datos del Viaje</h1>
                @*<div class="form-group">
                        <label asp-for="start"></label>
                        <input asp-for="start" class="form-control col-md-4 col-md-offset-3" />
                        <span asp-validation-for="start" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="end"></label>
                        <input asp-for="end" class="form-control col-md-4 col-md-offset-3" />
                        <span asp-validation-for="end" class="text-danger"></span>
                    </div>*@
                <div>
                    <label for="pais">Proximo pais:</label>
                    <input list="countries" id="pais" type="text" size=10 class="form-control col-md-4 col-md-offset-3" autocomplete="off" placeholder="Selecciona un pais">
                    <datalist id="countries">
                        @foreach (var item in Model.Posibilities)
                        {
                            <option value=@item></option>
                        }
                    </datalist>
                    <button type="button" class="button" onclick="add(getElementById('pais').value);"><span>Añadir</span></button>
                    <button type="submit" class="button"><span>Crear</span></button>
                    <h1>Ruta del viaje</h1>
                    <vl id="all">

                    </vl>
                </div>
            </div>
        </form>
    </CENTER>
</div>

<script>
    function add(pais) {
        if (validate()) {
            var destiny = document.getElementById("all");
            var idx = destiny.getElementsByTagName("li").length;

            var obj = make_a_new_container(pais, idx)

            destiny.appendChild(obj);
        }
    }

    function make_a_new_container(pais, idx) {
        var li = document.createElement("li"); {
            var p = document.createElement("input"); {
                p.value = pais;
                p.readOnly = "readonly";
                p.style = "border: 0; font-size: 30px; text-align: center;";
                p.name = "Country[" + idx + "]";
            }
            li.appendChild(p);
            var fc = document.createElement("div"); {
                fc.class = "form-group";
                var l = document.createElement("label"); {
                    l.htmlFor = "City[" + idx + "]";
                    l.innerHTML = "Ciudad de destino:";
                }
                fc.appendChild(l);
                var city = document.createElement("input"); {
                    city.className = "form-control col-md-3 col-md-offset-10";
                    city.type = "text";
                    city.required = true;
                    city.id = "City[" + idx + "]";
                    city.name = "City[" + idx + "]";
                    city.dataset = "data-val='true'; data-val-required='The city field is required.';";
                }
                fc.appendChild(city);
                var s = document.createElement("label"); {
                    s.htmlFor = "Start[" + idx + "]";
                    s.innerHTML = "Fecha de partida:";
                }
                fc.appendChild(s);
                var sdate = document.createElement("input"); {
                    sdate.className = "form-control col-md-3 col-md-offset-10";
                    sdate.type = "datetime-local";
                    sdate.required = true;
                    sdate.id = "Start[" + idx + "]";
                    sdate.name = "Start[" + idx + "]";
                    sdate.dataset = "data-val='true'; data-val-required='The start field is required.';";
                }
                fc.appendChild(sdate);
                /*var sp = document.createElement("span"); {
                    sp.className = "text-danger field-validation-valid";
                    sp.dataset = "data-valmsg-for='Start'; data-valmsg-replace='true';";
                }
                fc.appendChild(sp);*/
                var e = document.createElement("label"); {
                    e.htmlFor = "End[" + idx + "]";
                    e.innerHTML = "Fecha de llegada:";
                }
                fc.appendChild(e);
                var edate = document.createElement("input"); {
                    edate.className = "form-control col-md-3 col-md-offset-3";
                    edate.type = "datetime-local";
                    edate.required = true;
                    edate.id = "End[" + idx + "]";
                    edate.name = "End[" + idx + "]";
                    edate.dataset = "data-val='true'; data-val-required='The start field is required.';";
                }
                fc.appendChild(edate);
                var m = document.createElement("label"); {
                    m.htmlFor = "Motivo[" + idx + "]";
                    m.innerHTML = "Motivo(Opcinal):";
                }
                fc.appendChild(m);
                var mot = document.createElement("input"); {
                    mot.className = "form-control col-md-4 col-md-offset-3";
                    mot.type = "text";
                    mot.id = "Motivo[" + idx + "]";
                    mot.name = "Motivo[" + idx + "]";
                }
                fc.appendChild(mot);
                var but = document.createElement("button"); {
                    but.className = "button";
                    but.type = "button";
                    but.addEventListener("click", function () {
                        this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);
                    });
                    var sp = document.createElement("span"); {
                        sp.innerHTML = "Remove";
                    }
                    but.appendChild(sp);
                }
                fc.appendChild(but);
            }
            li.appendChild(fc);
        }
        return li;
    }


    function validate() {
        var input = document.getElementById("pais");

        var optionFound = false;
        var datalist = input.list;
        for (var j = 0; j < datalist.options.length; j++) {
            if (input.value === datalist.options[j].value) {
                optionFound = true;
                break;
            }
        }
        input.value = '';
        if (optionFound) {
            input.placeholder = 'Selecciona un pais';
            return true;
        } else {
            input.placeholder = 'Selecciona un pais valido';
            return false;
        }
    }
</script>
