@model IEnumerable<TripViewModel>

@{
    Layout = "UserLayout";
    ViewData["Title"] = "Viajes";
}

<div class="main">
    <form method="post">
        <input hidden="hidden" id="vId" name="vId">
        <input hidden="hidden" id="op" name="action">
        <h1>Viajes actuales</h1>
        <table>
            <tr>
                <th>
                    Fecha de viaje
                </th>
                <th>
                    Estado
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr id=@item.ID>
                    <td>
                        @item.Identifier
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        <a href="/Admin/Viaje?id=@item.ID" class="button"><span>Detalles</span></a>
                    </td>
                    <td>
                        <button class="button" type="submit" onclick="setValues(this, '0');"><span>Cancelar</span></button>
                    </td>
                    <td>
                        @if (item.Status == "Pendiente")
                        {
                            <button class="button" type="submit" onclick="setValues(this, '1');"><span>Listo</span></button>
                        }
                        else if (item.Status == "PendienteRealizacion")
                        {
                            <button class="button" type="submit" onclick="setValues(this, '2');"><span>Finalizar</span></button>
                        }
                    </td>

                </tr>
            }
        </table>

    </form>
</div>

<script>
    function setValues(caller, action) {
        getRowId(caller, 'vId')
        document.getElementById('op').value = action;
    }
</script>




