@model IEnumerable<TripViewModel>

@{
    Layout = "UserLayout";
    ViewData["Title"] = "Viajes";
}

<div class="main">
    <form method="post">
        <input hidden="hidden" id="canceled" name="canceled">
        <h1>Viajes actuales</h1>
        <table>
            <tr>
                <th>
                    Fecha de viaje
                </th>
                <th>
                    Estado
                </th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr id=@item.ID>
                    <td>
                        @item.Identifier
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        <button class="button" type="button" onclick="getRowId(this, 'canceled');"><span>Detalles</span></button>
                    </td>
                    <td>
                        <button class="button" type="submit" onclick="getRowId(this, 'canceled');"><span>Cancelar</span></button>
                    </td>
                </tr>
            }
        </table>

    </form>
</div>





