@using TripManager2._0.ViewModels
@model UserViewModel

@{
    Layout = "UserLayout";
    ViewData["Title"] = "Usuarios";
}

<head>
    <title>Signed up</title>
</head>
<body>
    <CENTER>
        <h1>No tienes notificaciones.</h1>
        <h1>La verdad es q ni lo se ;-)</h1>
    </CENTER>
    @*<h2>Your Actions</h2>
        <section>
            @Html.Partial(Model.permission + "Actions")
        </section>*@
</body>



