@using TripManager2._0.ViewModels
@model UserViewModel

<head>
    <title>Signed up</title>
</head>
<body>
    <h1>Congratulations @Model.FirstName @Model.SecondName!!! You are alredy signed up</h1>
    <div>Your main email for all transactions is @Model.Email</div>
</body>
</html>
